.pre {
  font-family: Arial, sans-serif;
  padding: 20px;
  color: #333;
  background: #f8f8f8;
  font-weight: 700;
  letter-spacing: normal;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.infos {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
  font-size: 13px;
  column-gap: 10px;
}

.link {
  color: inherit;
  text-decoration: underline;
}

@media (max-width: 500px) {
  .infos {
    flex-wrap: wrap;
  }
}
