.footer {
  color: white;
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: calc(100% - 100px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer a {
  color: white;
}

@media (min-width: 1020.02px) {
  .footer > :first-child, .footer > :last-child {
    flex-basis: 0;
    flex-grow: 1;
  }
  .footer > :last-child {
    text-align: right;
  }
}

@media (max-width: 1020px) {
  .footer {
    flex-direction: column;
    row-gap: 5px;
  }
  .footer > * {
    width: 100%;
    text-align: center;
  }
  .home {
    order: -1;
    margin-bottom: 10px;
  }
}
