.link {
  margin: 20px 0;
  display: flex;
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
}

.link > div:first-child {
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
}

.link > div:first-child input {
  flex-grow: 1;
  border: 0;
  outline: 0;
  background: #f8f8f8;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
}

.link > div:last-child {
  display: flex;
}


.link button {
  border-radius: 0;
}

.text {
  color: #707070;
}

.new > button {
  margin-top: 20px;
  width: 100%;
}

@media (max-width: 1020px) {
  .new > button {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
